.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

body {
  background-image: linear-gradient(to bottom right, #3248c6, #49d68f);
  height: 100vh;
}

h2 {
  margin-left: auto;
  margin-right: auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid rgb(20, 2, 2);
  width: 700px;
  background-color: #ca911e;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin-bottom: 15px;
}

.save-button {
  display: flex;
  justify-content: center;
}

.save-button button {
  margin-top: 15px;
  background-color: #2b21ed;
  color: #ffffff;
  width: 100px;
}

nav {
  margin-left: auto;
  margin-right: auto;
}
ul {
  margin-left: auto;
  margin-right: auto;
}
.tag-buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  padding: 0;
  
}

.tag-buttons button {
  padding: 5px 10px ;  
  margin: 0 10px;
  background-color: #2850ae;
  color: #ffffff;
}

.url-list {
  list-style: none;
}